
body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
}
.title {
  font-size: 2.42em;
  margin-top: 0px;
}
.main-image {
  width: 80%;
  max-width: 400px;
  margin-top: 10px;
}
.vote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.vote-block {
  margin: 0 20px;
}
.vote-btn {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.yes {
  background-color: #00bfff;
}
.no {
  background-color: #ff3333;
}
.vote-display {
  font-size: 18px;
  background-color: #00bfff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 8px;
  color: #fff;
}
.no-display {
  background-color: #ff3333;
}
.logo {
  width: 64px;
  height: 64px;
}
.comment-block {
  margin: 20px 0;
}
.comment-btn {
  background-color: #008000;
  color: white;
  font-size: 22px;
  padding: 15px 38px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.book-section {
  margin-top: 30px;
}
.book-btn {
  max-width: 80%;
  margin: 12px auto;
  padding: 18px 10px;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: bold;
  text-align: center;
  background-color: #e6f0ff;
  border: 2px solid #337ab7;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
#after-vote.show .book-btn {
  display: block;
}

.main-title {
    font-size: 4em;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
    text-align: center;
}
